<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Directory</a></li>
	<li class="active"><a href="#">Current Article</a></li>
</ul>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-center" width="20px">
					<label class="checkbox no-label toggle-all" for="checkbox-table-1"><input type="checkbox" value="" id="checkbox-table-1" data-toggle="checkbox" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span></label>
				</th>
				<th>Name</th>
				<th>Date Modified</th>
				<th>Type</th>
				<th>Size</th>
				<th width="100px"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center"><label class="checkbox no-label" for="checkbox-table-2"><input type="checkbox" value="" id="checkbox-table-2" data-toggle="checkbox" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span></label></td>
				<td>some_file.jpeg</td>
				<td>21/06/2016 15:43</td>
				<td>JPEG</td>
				<td>362 KB</td>
				<td>
					<span class="fui-gear text-primary"></span>
					<span class="fui-trash text-primary"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
